.header {
  font: bold 1em sans-serif;
  padding: 2em 1em;
}

.success-checkmark {
  font-size: 2em;
  color: #feb30c;
}

.centered-row {
  width: fit-content;
}

.centered-row-parent {
  text-align: -webkit-center;
}

.radio-body {
  width: 80%;
}
