.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #002280;
  transition: width 0.6s ease;
}

.header {
  font: bold 1em sans-serif;
  padding: 2em 1em;
}

.back-arrow {
  color: #002280;
}

.success-checkmark {
  font-size: 2em;
  color: #feb30c;
}

.centered-row {
  width: fit-content;
}

.centered-row-parent {
  text-align: -webkit-center;
}

.radio-body {
  width: 80%;
}
